<%= render "shared/header" %>

<div id="coordination_show">
  <div class="coordination_show">
    <div class="coordination_show_info">
      <%= image_tag "icon.png" %>
      <h3>ユーザー名ユーザー名</h3>
    </div>
    <div class="coordination_show_head_right">
      <div class="caution">
        <%= image_tag "icon2.png" %>
      </div>
      <button>フォローする</button>
    </div>
  </div>
  <div id="coordination_create">
    <div class="coordination_create">
    </div>
  </div>
</div>

<%= render "shared/footer" %>