<div class="nested-fields">
  <div class="event_form_field">
    <label>見出し<span>必須</span></label><br>
    <%= f.text_field :event_heading %>
  </div>

  <div class="event_form_field">
    <label>画像<span>必須</span></label><br>
    <%= f.file_field :image, class: "event_img" %>
  </div>

  <div class="event_form_field">
    <label>本文<span>必須</span></label><br>
    <%= f.text_area :event_description %>
  </div>

  <div class="event_remove">
    <%= link_to_remove_association "削除", f %>
  </div>
</div>