/* ユーザー新規会員登録 */
.user_new{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    font-size: 30px;
    text-align: center;
  }
  form{
    margin: 30px auto;
    .user_new_field{
      display: flex;
      align-items: center;
      border-top: 1px solid #D6D6D6;
      label{
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 30px 20px;
        background-color: #F7F7F7;
        span{
          padding: 6px 15px;
          border-radius: 5px;
          background-color: #FFDE3B;
          font-size: 12px;
        }
      }
      input{
        width: 50%;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        padding: 10px 0 10px 10px;
        margin-left: 30px;
      }
    }
    .user_new_field_last{
      border-bottom: 1px solid #D6D6D6;
    }
    .user_new_actions{
      padding-top: 60px;
      text-align: center;
      .user_new_submit{
        width: 270px;
        padding: 15px 0;
        background-color: #FF9D30;
        border: 1px solid #FF9D30;
        border-radius: 30px;
        color: #fff;
      }
      .user_new_submit:hover{
        background-color: #fff;
        color: #FF9D30;
        transition: 0.3s;
      }
    }
  }
}


/* 店舗新規会員登録 */
.store_new{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    font-size: 30px;
    text-align: center;
  }
  form{
    margin: 30px auto;
    .store_new_field{
      display: flex;
      align-items: center;
      border-top: 1px solid #D6D6D6;
      label{
        display: flex;
        justify-content: space-between;
        width: 300px;
        padding: 30px 20px;
        background-color: #F7F7F7;
        span{
          padding: 6px 15px;
          border-radius: 5px;
          background-color: #FFDE3B;
          font-size: 12px;
        }
      }
      input{
        width: 50%;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        padding: 10px 0 10px 10px;
        margin-left: 30px;
      }
    }
    .store_new_field_last{
      border-bottom: 1px solid #D6D6D6;
    }
    .store_new_actions{
      padding-top: 60px;
      text-align: center;
      .store_new_submit{
        width: 270px;
        padding: 15px 0;
        background-color: #FF9D30;
        border: 1px solid #FF9D30;
        border-radius: 30px;
        color: #fff;
      }
      .store_new_submit:hover{
        background-color: #fff;
        color: #FF9D30;
        transition: 0.3s;
      }
    }
  }
}


/* ユーザーログインページ */
.user_login{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    font-size: 30px;
    text-align: center;
  }
  form{
    width: 680px;
    margin: 30px auto;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    padding: 60px 0;
    .user_login_field{
      width: 420px;
      margin: 0 auto;
      input{
        width: 420px;
        margin: 0 auto 25px;
        padding: 8px 0 8px 10px;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
      }
    }
    .user_login_actions{
      margin: 10px auto 0;
      text-align: center;
      .user_login_submit{
        width: 200px;
        padding: 15px 0;
        background-color: #FF9D30;
        border: 1px solid #FF9D30;
        border-radius: 30px;
        color: #fff;
      }
      .user_login_submit:hover{
        background-color: #fff;
        color: #FF9D30;
        transition: 0.3s;
      }
    }
  }
}


/* 店舗ログインページ */
.store_login{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    font-size: 30px;
    text-align: center;
  }
  form{
    width: 680px;
    margin: 30px auto;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    padding: 60px 0;
    .store_login_field{
      width: 420px;
      margin: 0 auto;
      input{
        width: 420px;
        margin: 0 auto 25px;
        padding: 8px 0 8px 10px;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
      }
    }
    .store_login_actions{
      margin: 10px auto 0;
      text-align: center;
      .store_login_submit{
        width: 200px;
        padding: 15px 0;
        background-color: #FF9D30;
        border: 1px solid #FF9D30;
        border-radius: 30px;
        color: #fff;
      }
      .store_login_submit:hover{
        background-color: #fff;
        color: #FF9D30;
        transition: 0.3s;
      }
    }
  }
}