/* 古着イベント */
#event{
  width: 1200px;
  margin: 80px auto ;
  h2{
    text-align: center;
    font-size: 30px;
  }
  .event{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .event_content{
      width: 860px;
      .event_flex{
        display: flex;
        flex-wrap: wrap;
        .event_box{
          width: 270px;
          margin: 0 8px 30px;
          .event_img{
            img{
              width: 270px;
              height: 180px;
              object-fit: cover;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
          }
          .event_info{
            p{
              margin-top: 10px;
              font-size: 12px;
              color: #FF9D30;
            }
            h3{
              margin: 12px 0;
              font-size: 18px;
            }
            time{
              margin-bottom: 10px;
              font-size: 12px;
            }
          }
        }
      }
      ul{
        text-align: center;
        li{
          span{
            display: inline-block;
            margin: 0 3px;
            padding: 10px 14px;
            border: 1px solid #FF9D30;
            border-radius: 50%;
          }
          span:first-child{
            margin-right: 10px;
            padding: 10px 18px;
            border-radius: 20px !important;
          }
          span:last-child{
            margin-left: 10px;
            padding: 10px 18px;
            border-radius: 20px !important;
          }
          span:hover{
            background-color: #FF9D30;
            color: #fff;
            transition: 0.3s;
          }
        }
        .current{
          background-color: #FF9D30;
          color: #fff;
        }
      }
    }
    .event_right{
      width: 300px;
      .event_btn{
        width: 300px;
        .event_link{
          display: block;
          padding: 15px 0;
          margin-bottom: 15px;
          background-color: #FF9D30;
          border: 1px solid #FF9D30;
          border-radius: 30px;
          text-align: center;
          color: #fff;
        }
        .event_link:hover{
          background-color: #fff;
          color: #FF9D30;
          transition: 0.3s;
        }
      }
    }
  }
}
//イベント投稿/編集
#event_form{
  width: 850px;
  margin: 80px auto;
  h2{
    text-align: center;
    font-size: 30px;
  }
  form{
    margin-top: 40px;
    .event_form_field{
      margin-bottom: 30px;
      label{
        span{
          margin-left: 10px;
          padding: 6px 10px;
          border-radius: 5px;
          background-color: #FFDE3B;
          font-size: 12px;
          font-weight: 900;
        }
      }
      input{
        width: 100%;
        margin-top: 10px;
        padding: 8px 0 8px 10px;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
      }
      .short_field{
        width: 280px;
      }
      .prefecture_select{
        margin-top: 10px;
        padding: 8px 0 8px 10px;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
      }
      p{
        margin-top: 8px;
        font-size: 12px;
      }
      textarea{
        width: 100%;
        height: 120px;
        margin-top: 10px;
        padding: 8px 0 8px 10px;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
      }
      .event_img{
        width: 100%;
        height: 120px;
        background-color: #F8F8F8;
        padding: 50px 0 50px 280px;
        cursor: pointer;
      }
    }
    .nested-fields:first-child{
      border-top: 1px dotted #333;
    }
    .nested-fields{
      border-bottom: 1px dotted #333;
      padding: 30px 0;
      .event_hash{
        margin-bottom: 30px;
        label{
          span{
            margin-left: 10px;
            padding: 6px 10px;
            border-radius: 5px;
            background-color: #FFDE3B;
            font-size: 12px;
            font-weight: 900;
          }
        }
        .item_select{
          width: 280px;
          margin-top: 10px;
          padding: 8px 0 8px 10px;
          border: 1px solid #D6D6D6;
          border-radius: 5px;
        }
        input{
          width: 850px;
          margin-top: 10px;
          padding: 8px 0 8px 10px;
          border: 1px solid #D6D6D6;
          border-radius: 5px;
        }
      }
      .event_remove{
        width: 120px;
        margin: 0 0 0 auto;
        .remove_fields{
          padding: 10px 43px;
          border: 1px solid #888;
          border-radius: 5px;
        }
      }
    }
    .event_add{
      width: 160px;
      margin: 30px 0 0 auto;
      .add_fields{
        padding: 10px 63px;
        background-color: #FF9D30;
        border: 1px solid #FF9D30;
        border-radius: 5px;
        color: #fff;
      }
    }
    .event_form_action{
      margin-top: 60px;
      text-align: center;
      input{
        width: 270px;
        padding: 15px 0;
        border: 1px solid #FF9D30;
        border-radius: 30px;
        color: #FF9D30;
      }
      input:hover{
        background-color: #FF9D30;
        color: #fff;
        transition: 0.3s;
      }
    }
  }
}

//イベント詳細
#event_show{
  width: 1200px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  .event_show{
    width: 860px;
    .event_date{
      font-size: 14px;
      text-align: right;
    }
    h3{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin: 25px 0;
    }
    h6{
      font-size: 12px;
      padding-bottom: 15px;
      border-bottom:1px solid #000;
    }
    .event_show_thumbnail{
      margin-top: 20px;
      img{
        height: 520px;
        width: 860px;
        object-fit: cover;
      }
    }
    .event_show_heading{
      border-bottom: 1px dotted #333;
      h3{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin: 30px 0 20px;
      }
    }
    .event_show_image{
      margin-top: 20px;
      img{
        height: 520px;
        width: 860px;
        object-fit: cover;
      }
    }
    .event_show_description{
      letter-spacing: 0.8px;
      line-height: 1.7;
      margin-top: 20px;
    }
    .event_information{
      margin-top: 60px;
      border: 12px solid #FF9D30;
      border-radius: 30px;
      .event_information_title{
        margin-top: 30px;
        p{
          text-align: center;
          font-size: 24px;
        }
      }
      table{
        margin: 30px 20px;
        tr{
          height: 30px;
          th{
            width: 70px;
          }
        }
      }
    }
    .event_organizer_main{
      margin-top: 60px;
      padding: 20px;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      .event_organizer_primary{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
          text-align: center;
          border-radius: 30px;
          border: 1px solid #FF9D30;
          color: #FF9D30;
          padding: 10px 20px;
        }
        button:hover{
          background-color: #FF9D30;
          color: #fff;
          transition: 0.3s;
        }
      }
      .event_organizer_charge{
        display: flex;
        margin-top: 20px;
        .store_img{
          img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .event_charge_title{
          padding-left: 20px;
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .store_charge_profile{
          padding-left: 20px;
        }
      }
    }
  }
  .event_side{
    width: 310px;
    .event_side_btn{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .event_side_edit_btn{
        p{
          text-align: center;
          border-radius: 30px;
          border: 1px solid #FF9D30;
          color: #FF9D30;
          padding: 10px 20px;
        }
        p:hover{
          background-color: #FF9D30;
          color: #fff;
          transition: 0.3s;
        }
      }
      .event_side_des_btn{
        p{
          text-align: center;
          border-radius: 30px;
          border: 1px solid #FF9D30;
          color: #FF9D30;
          padding: 10px 20px;
        }
        p:hover{
          background-color: #FF9D30;
          color: #fff;
          transition: 0.3s;
        }
      }
    }
    .event_side_title{
      h4{
        width: 285px;
        margin: 0 auto;
        background-color: #fff;
        border: 2px solid #D6D6D6;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 15px;
      }
      .event_side_bgc{
        position: relative;
        bottom: 36px;
        background-color: #F5F5F5;
        padding: 20px 12px;
        border-radius: 10px;
        z-index: -1;
        .event_side_content{
          padding: 15px 0;
          border-bottom: 1px solid #333;
          .event_side_img{
            img{
              width: 285px;
              height: 200px;
              border-radius: 20px;
              object-fit: cover;
            }
          }
          .event_side_text{
            font-size: 18px;
            margin-left: 12px;
            padding-top: 20px;
          }
          .event_side_day{
            padding-top: 15px;
            font-size: 14px;
            color: #707070;
          }
          .event_side_venue{
            padding-top: 15px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
