/* ヘッダー */
header{
  .header{
    background-color: #FF9D30;
    .header_1{
      width: 1200px;
      margin: 0 auto;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      .search{
        background-color: #fff;
        padding: 10px;
        width: 560px;
        border-radius: 20px;
      }
      .submit{
        background-color: #fff;
        padding: 10px 25px;
        border-radius: 20px;
      }
      .header_icon{
        display: flex;
        li{
          padding-left: 8px;
        }
      }
    }
  }
  .header_2{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0 20px;
    display: flex;
    align-items: center;
    .header_logo{
      font-size: 36px;
      color: #FF9D30;
      margin: 0 auto;
      padding-left: 136px;
    }
    .header_if{
      display: flex;
      height: 68px;
      align-items: center;
      .registration{
        margin-right: 10px;
        .registration_box{
          button{
            width: 68px;
            height: 68px;
            border: 1px solid #FF9D30;
            border-radius: 50%;
            font-size: 12px;
            color: #FF9D30;
            text-align: center;
          }
          button:hover{
            background-color: #FF9D30;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
      .logout{
        border: 1px solid #FF9D30;
        border-radius: 50%;
        p{
          padding: 26px 3px;
          font-size: 12px;
          color: #FF9D30;
        }
      }
      .logout:hover{
        background-color: #FF9D30;
        transition: 0.3s;
        p{
          color: #fff;
        }
      }
      .mypage{
        margin-left: 10px;
        .mypage_box{
          a{
            background-color: #FF9D30;
            padding: 27px 4px;
            border: 1px solid #FF9D30;
            border-radius: 50%;
            font-size: 12px;
            color: #fff;
            text-align: center;
          }
          a:hover{
            background-color: #fff;
            color: #FF9D30;
            transition: 0.3s;
          }
        }
      }
      .login{
        .login_box{
          button{
            background-color: #FF9D30;
            width: 68px;
            height: 68px;
            border: 1px solid #FF9D30;
            border-radius: 50%;
            font-size: 12px;
            color: #fff;
            text-align: center;
          }
          button:hover{
            background-color: #fff;
            color: #FF9D30;
            transition: 0.3s;
          }
        }
      }
    }
  }
  #header_nav{
    border-bottom: 1px solid #FF9D30;
    .header_nav{
      width: 1200px;
      margin: 0 auto 20px;
      display: flex;
      justify-content: center;
      li:first-child{
        border-left: 1px solid #c7c7c7;
      }
      li{
        border-right: 1px solid #c7c7c7;
        padding: 0 50px;
      }
      li:hover{
        color: #FF9D30;
      }
    }
  }
}

/* TOP_古着ニュース */
.top_news{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    text-align: center;
    font-size: 30px;
  }
  .top_news_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .top_news_box{
      width: 270px;
      margin: 30px 15px 0;
      .top_news_img{
        img{
          width: 270px;
          height: 180px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .top_news_info{
        p{
          margin-top: 10px;
          font-size: 12px;
          color: #FF9D30;
        }
        h3{
          margin: 12px 0;
          font-size: 18px;
        }
        time{
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
  }
  .top_news_more{
    width: 320px;
    height: 52px;
    border: 1px solid #FF9D30;
    border-radius: 40px;
    text-align: center;
    margin: 60px auto 0;
    a{
      display: block;
      padding: 15px 0;
      font-size: 16px;
      color: #FF9D30;
    }
  }
  .top_news_more:hover{
    background-color: #FF9D30;
    transition: 0.3s;
    a:hover{
      color: #fff;
      transition: 0.3s;
    }
  }
}

/* TOP_古着イベント */
.top_event{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    text-align: center;
    font-size: 30px;
  }
  .top_event_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .top_event_box{
      width: 270px;
      margin: 30px 15px 0;
      .top_event_img{
        img{
          width: 270px;
          height: 180px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .top_event_info{
        border-bottom: 1px solid #333;
        padding-bottom: 20px;
        h3{
          margin: 12px 0;
          font-size: 18px;
        }
        time{
          margin-bottom: 10px;
          font-size: 14px;
        }
        p{
          margin-top: 15px;
          font-size: 14px;
        }
      }
    }
  }
  .top_event_more{
    width: 320px;
    height: 52px;
    border: 1px solid #FF9D30;
    border-radius: 40px;
    text-align: center;
    margin: 60px auto 0;
    a{
      display: block;
      padding: 15px 0;
      font-size: 16px;
      color: #FF9D30;
    }
  }
  .top_event_more:hover{
    background-color: #FF9D30;
    transition: 0.3s;
    a:hover{
      color: #fff;
      transition: 0.3s;
    }
  }
}

/* TOP_古着コミュニティ */
.top_community{
  width: 1200px;
  margin: 80px auto 0;
  h2{
    text-align: center;
    font-size: 30px;
  }
  .top_community_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .top_community_box{
      width: 270px;
      margin: 30px 15px 0;
      .top_community_img{
        position: relative;
        display: block;
        img{
          width: 270px;
          height: 220px;
          object-fit: cover;
          border-radius: 10px;
        }
        .top_community_info{
          padding: 50px 10px 20px;
          width: 100%;
          position: absolute;
          bottom: 0;
          z-index: 2;
          border-radius: 0 0 10px 10px;
          background: linear-gradient(to bottom,transparent,rgba(30, 30, 30, 0.7) 30%,rgba(30, 30, 30, 0.7));
          h3{
            color: #fff;
          }
        }
      }
    }
  }
  .top_community_more{
    width: 320px;
    height: 52px;
    border: 1px solid #FF9D30;
    border-radius: 40px;
    text-align: center;
    margin: 60px auto 0;
    a{
      display: block;
      padding: 15px 0;
      font-size: 16px;
      color: #FF9D30;
    }
  }
  .top_community_more:hover{
    background-color: #FF9D30;
    transition: 0.3s;
    a:hover{
      color: #fff;
      transition: 0.3s;
    }
  }
}

/* TOP_古着コーディネート */
.top_coordination{
  width: 1200px;
  margin: 80px auto;
  h2{
    text-align: center;
    font-size: 30px;
  }
  .top_coordination_flex{
    display: flex;
    flex-wrap: wrap;
    .top_coordination_box{
      width: 260px;
      margin: 30px 12px 0;
      background-color: #fcfcfc;
      .top_coordination_img{
        position: relative;
        display: block;
        img{
          width: 260px;
          height: 320px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .top_coordination_info{
          padding: 15px 5px;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
  .top_coordination_more{
    width: 320px;
    height: 52px;
    border: 1px solid #FF9D30;
    border-radius: 40px;
    text-align: center;
    margin: 60px auto 0;
    a{
      display: block;
      padding: 15px 0;
      font-size: 16px;
      color: #FF9D30;
    }
  }
  .top_coordination_more:hover{
    background-color: #FF9D30;
    transition: 0.3s;
    a:hover{
      color: #fff;
      transition: 0.3s;
    }
  }
}

/* フッター */
footer{
  background-color: #FF9D30;
  .footer{
    width: 1200px;
    margin: 0 auto;
    .footer_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      h1{
        font-size: 38px;
        color: #fff;
      }
      .footer_icon{
        display: flex;
        li{
          padding-right: 8px;
        }
      }
    }
    .footer_bottom{
      display: flex;
      justify-content: space-between;
      padding: 30px 0 20px;
      #footer_nav{
        .footer_nav{
          display: flex;
          .nav_list{
            margin-right: 80px;
            color: #fff;
            span{
              font-size: 18px;
            }
            ul{
              margin-top: 20px;
            }
          }
        }
      }
      #footer_list{
        li{
          margin-bottom: 15px;
          color: #fff;
        }
      }
    }
  }
  #copyright{
    background-color: #fff;
    .copyright{
      padding: 15px 0 30px;
      text-align: center;
      font-size: 14px;
    }
  }
}