/* 古着ニュ-ス */
#news{
  width: 1200px;
  margin: 80px auto ;
  h2{
    text-align: center;
    font-size: 30px;
  }
  .news{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .news_content{
      width: 860px;
      .news_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .news_box{
          width: 270px;
          margin: 0 8px 30px;
          .news_img{
            img{
              width: 270px;
              height: 180px;
              object-fit: cover;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
          }
          .news_info{
            p{
              margin-top: 10px;
              font-size: 12px;
              color: #FF9D30;
            }
            h3{
              margin: 12px 0;
              font-size: 18px;
            }
            time{
              margin-bottom: 10px;
              font-size: 12px;
            }
          }
        }
      }
      ul{
        text-align: center;
        li{
          span{
            display: inline-block;
            margin: 0 3px;
            padding: 10px 14px;
            border: 1px solid #FF9D30;
            border-radius: 50%;
          }
          span:first-child{
            margin-right: 10px;
            padding: 10px 18px;
            border-radius: 20px !important;
          }
          span:last-child{
            margin-left: 10px;
            padding: 10px 18px;
            border-radius: 20px !important;
          }
          span:hover{
            background-color: #FF9D30;
            color: #fff;
            transition: 0.3s;
          }
        }
        .current{
          background-color: #FF9D30;
          color: #fff;
        }
      }
    }
    .news_right{
      width: 300px;
      .news_btn{
        width: 300px;
        .news_link{
          display: block;
          padding: 15px 0;
          margin-bottom: 15px;
          background-color: #FF9D30;
          border: 1px solid #FF9D30;
          border-radius: 30px;
          text-align: center;
          color: #fff;
        }
        .news_link:hover{
          background-color: #fff;
          color: #FF9D30;
          transition: 0.3s;
        }
      }
    }
  }
}
//ニュース投稿/編集
#news_post{
  width: 1200px;
    margin: 80px auto ;
  h2{
    text-align: center;
    font-size: 30px;
  }
  form{
    .news_title_main{
      .news_title_primary{
        display: flex;
        margin-top: 35px;
        .news_title_secondary{
          margin-right: 11px;
          margin-top: 3px;
          h3{
            font-size: 18px;
            font-weight: 900;
          }
        }
        .news_common{
          width: 54px;
          background-color: #FFDE3B;
          border-radius: 5px;
          padding: 3px 15px;
          span{
            font-size: 12px;
            font-weight: 900;
          }
        }
      }
    }
      .news_title_box{
        padding: 10px;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        margin-top: 15px;
        #notice_notice_title{
          width: 1190px;
        }
      }
      .news_title_quaternary{
        margin-top: 8px;
        p{
          font-size: 12px;
          color: #333333;
        }
      }
    .news_thumbnail_primary{
      display: flex;
      padding-top: 30px;
      .news_thumbnail_secondary{
        margin-right: 11px;
        margin-top: 3px;
        h3{
          font-size: 18px;
          font-weight: 900;
        }
      }
      .news_common{
        width: 54px;
        background-color: #FFDE3B;
        border-radius: 5px;
        padding: 3px 15px;
        span{
          font-size: 12px;
          font-weight: 900;
        }
      }
    }
    .news_thumbnail_box{
      height: 136px;
      border: 1px solid #D6D6D6;
      background-color:#F8F8F8;
      border-radius: 5px;
      position: relative;
      margin-top: 15px;
      h3{
        font-size: 18px;
        font-weight: 0;
        text-align: center;
        padding-top: 32px;
      }
      #notice_thumbnail{
        font-size: 14px;
        position: absolute;
        top: 68px;
        left: 535px;
      }
    }
    .news_display_radio{
      display: flex;
      margin: 15px 0 30px 0;
      .news_display_radio_true{
        display: flex;
        align-items: center;
        input{
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
        label{
          font-size: 16px;
        }
      }
      .news_display_radio_false{
        display: flex;
        align-items: center;
        margin-left: 15px;
        input{
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
        label{
          font-size: 16px;
        }
      }
    }
    .heading{
      border-top: 1px dotted #000000;
    }
    #notice_image{
      font-size: 14px;
      position: absolute;
      top: 68px;
      left: 535px;
    }
    .description{
      border-bottom: 1px dotted #000000;
      .primary{
        margin-bottom: 95px;
        #notice_notice_description{
          width: 1190px;
          height: 180px;
        }
      }
    }
    .news_btn{
      margin: 100px auto 0;
      width: 270px;
      input{
        text-align: center;
        border-radius: 30px;
        border: 1px solid #EF6537;
        color: #EF6537;
        padding: 15px 0;
        width: 270px;
      }
      input:hover{
        background-color: #FF9D30;
        color: #fff;
        transition: 0.3s;
      }
    }
  }
}

//ニュース詳細
#notice_show{
  width: 1200px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  .notice_show{
    width: 860px;
    p{
      font-size: 14px;
      text-align: right;
    }
    h3{
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin: 25px 0;
    }
    .notice_show_thumbnail{
      img{
        height: 520px;
        width: 860px;
        object-fit: cover;
      }
    }
    .notice_show_heading{
      border-bottom: 1px dotted #333333;
      h3{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin: 30px 0 20px;
      }
    }
    .notice_show_image{
      margin-top: 20px;
      img{
        height: 520px;
        width: 860px;
        object-fit: cover;
      }
    }
    .notice_show_description{
      letter-spacing: 0.8px;
      line-height: 1.7;
      margin-top: 20px;
    }
  }
  .notice_side{
    width: 310px;
    .notice_side_btn{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .notice_side_edit_btn{
        p{
          text-align: center;
          border-radius: 30px;
          border: 1px solid #FF9D30;
          color: #EF6537;
          padding: 10px 20px;
        }
        p:hover{
          background-color: #FF9D30;
          color: #fff;
          transition: 0.3s;
        }
      }
      .notice_side_des_btn{
        p{
          text-align: center;
          border-radius: 30px;
          border: 1px solid #FF9D30;
          color: #EF6537;
          padding: 10px 20px;
        }
        p:hover{
          background-color: #FF9D30;
          color: #fff;
          transition: 0.3s;
        }
      }
    }
    .notice_side_title{
      h4{
        width: 285px;
        margin: 0 auto;
        background-color: #fff;
        border: 2px solid #D6D6D6;
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 15px;
      }
      .notice_side_bgc{
        position: relative;
        bottom: 22px;
        background-color: #F5F5F5;
        padding: 20px 12px;
        border-radius: 10px;
        z-index: -1;
        .notice_side_content{
          padding: 15px 0;
          border-bottom: 1px dotted #333;
          display: flex;
          .notice_side_img{
            img{
              width: 95px;
              height: 95px;
              object-fit: cover;
            }
          }
          .notice_side_text{
            margin-left: 12px;
          }
        }
      }
    }
  }
}
